[user]
	email = alexbel@lavabit.com
	name  = alexbel

[color]
  branch = auto
  diff   = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  lg = log -p

[core]
	autocrlf = false

[heroku]
  account = main

[github]
  user = alexbel
